.gallery-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gallery {
  width: 90%;
  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 0px;
  -moz-column-count: 2;
  -moz-column-gap: 0px;
  column-count: 2;
  column-gap: 0px;  
}

/* .gallery > img {
  width: 49% !important;
} */

@media (max-width: 1140px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    width: 100%;
  }
}
